$accent: #84c202;

@import "marble";

// Root
@import "templates/root";

.highlights {
    padding: 90px 0 90px;
    background: #f0f4f8;
}
.ribbon-container {
  z-index:1002;
}
.topbar-menu {
  margin-right: 50px;
}

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

//ribbon
@import "ribbon"
