$accent: #4285F4;

@import "marble";

// Root
@import "templates/root";

.highlights {
    padding: 90px 0 90px;
    background: #f0f4f8;
}
.btn-accent {
  background-color: #84c202
}

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

//ribbon
@import "ribbon"
